.father {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.child {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    font-size: 50px;
}

/* align-self는 한요소만 flex를 줄 수 있다. */
/* order는 기본값으로 0을 가지고 있다 */

.child:nth-child(1) {
    order: 1;
}
.child:nth-child(2) {
    order: 2;
}