.father {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.child {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
}

/* align-self는 한요소만 flex를 줄 수 있다. */
.child:nth-child(2) {
    align-self: center;
}
.child:nth-child(3) {
    align-self: flex-end;
}