.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: [first-line] 100px [second-line] 100px 
  [third-line] 100px [fourth-line] 100px [fifth-line];
  grid-template-rows: repeat(4,100px);
}

.header {
  background-color: aquamarine;
  grid-column: span 4;
}
.content {
  background-color: aqua;
  grid-column: first-line / fourth-line;
  grid-row: span 2;
}
.nav {
  background-color: blueviolet;
  grid-row: span 2;
}
.footer {
  background-color: orange;
  grid-column: span 4;
}