.father{
    display: flex;
    height: 200vh;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    
}

.child {
  height: 200px;
  width: 200px;
  background: peru;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}


