@import "_variables";

body {
  background: $bg;
}

h2 {
  color: red;
  font-size: $title;
}

.box {
  margin-top: 20px;
  h2 {
    color: whitesmoke;
    &:hover {
      color: forestgreen;
    }
  }
  button {
    color: #e89;
  }
}