@import "_variables";
@import "_mixins";

a {
  margin-top: 10px;
  &:nth-child(odd) {
    @include link(blue);
  }

  &:nth-child(even) {
    @include link(red);
  }
}


body {
  background: $bg;
}

h2 {
  color: red;
  font-size: $title;
}

.box {
  margin-top: 20px;
  h2 {
    color: whitesmoke;
    &:hover {
      color: forestgreen;
    }
  }
  button {
    color: #e89;
  }
}