@import "_variables";
@import "_mixins";

a {
  margin-top: 10px;
  &:nth-child(odd) {
    @include link('odd');
  }

  &:nth-child(even) {
    @include link('even');
  }
}


body {
  background: $bg;
}

h2 {
  color: red;
  font-size: $title;
}

.box {
  margin-top: 20px;
  h2 {
    color: whitesmoke;
    &:hover {
      color: forestgreen;
    }
  }
  button {
    color: #e89;
  }
}

h1 {
  color: red;
  @include responsive('iphone') {
    color: yellow;
  }
  @include responsive('iphone-l') {
    font-size: 60px;
  }
  @include responsive("tablet") {
    color: green;
  }
}